/* Add application styles & imports to this file! */

  h1 {
    font-size: "36px";
    font-family: "Verdana";
  }
  p {
  color: grey;
  font-size: 14px;
  }
  h5 {
  font-size: "14px";
  font-family: "Verdana";
  color: rgb(255,67,98);

  }

.flex-container {
  display: flex;
}